<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         stopOnError="false"
         stopOnWarning="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false">
    <testsuites>
        <testsuite name="CustomKings Plugin Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <env name="WP_PLUGIN_DIR" value="${PWD}"/>
        <env name="WP_DEBUG" value="1"/>
    </php>
</phpunit> 